In [1]:
import pandas as pd
import numpy as np

In [3]:
FILEPATH = "../Data/"

In [13]:
df = pd.read_csv(FILEPATH + "user_data.csv")

# Remove index column
df.drop(columns=df.columns[0], inplace=True)

In [14]:
df.head()

   gender  attractiveness  likes  matches
0  FEMALE        0.715260    132       14
1  FEMALE        0.302099     60        7
2  FEMALE        0.472874     87        5
3  FEMALE        0.350046     70        3
4  FEMALE        0.833981    169       12

In [18]:
df["gender"].value_counts() / df.shape[0]

gender
MALE      0.667
FEMALE    0.333
Name: count, dtype: float64

In [11]:
df.groupby(["gender"])[["likes","matches"]].mean()

            likes   matches
gender
FEMALE  92.037832  6.426405
MALE     6.983550  3.208385

In [24]:
df["attractiveness_tier"] = [round(np.floor(x*100/10)+1,0) for x in df["attractiveness"]]

In [28]:
df.groupby(["gender","attractiveness_tier"]).agg({
                                                 "likes": "mean",
                                                 "matches": "mean",
                                                 "gender": "count"
                                                })

                                 likes    matches  gender
gender attractiveness_tier
FEMALE 1.0                    6.199339   0.438772   33571
       2.0                   21.753714   1.520040   33384
       3.0                   39.428891   2.740138   33083
       4.0                   58.434495   4.062629   33547
       5.0                   78.457430   5.467527   33181
       6.0                   99.300910   6.946275   33299
       7.0                  120.736848   8.433421   33171
       8.0                  142.952149   9.947289   33124
       9.0                  165.506057  11.552894   33350
       10.0                 188.641424  13.227005   33290
MALE   1.0                    0.000000   0.000000   66725
       2.0                    0.000647   0.000226   66467
       3.0                    0.012871   0.005995   66892
       4.0                    0.088983   0.041439   66990
       5.0                    0.393893   0.178846   67041
       6.0                    1.317849   0.604976   66563
       7.0                    3.663339   1.681517   66509
       8.0                    8.721749   4.004144   66609
       9.0                   18.742700   8.608519   66440
       10.0                  36.953733  16.985861   66764